<div class="topbar">
  <div class="coins-container">
    <img src="/assets/coins.png" class="coins-img">
    <span class="coins-text">100</span>
  </div>

  <div class="store-container" (click)="openStore()">
    <img src="/assets/store.webp" class="store-img">
  </div>

  <div class="logo-container">
    <span class="logo-text">The Game Is Loading</span>
  </div>

  <div class="level-container">
    <span class="level-text">Level: 10</span>
  </div>
</div>
<router-outlet></router-outlet>

<div class="left-side-menu" [@slideInOut]="leftSideMenuState">
  <span class="left-menu-title">Power Up Shop</span>
</div>
